#tarteaucitronRoot .tarteaucitronDeny {
    background: #7d7d7d !important;
}

#tarteaucitronRoot .tarteaucitronDeny {
    color: #101213 !important;
}

#tarteaucitronRoot .tarteaucitronCross::before {
    color: #101213 !important;
}

#tarteaucitronRoot span#tarteaucitronDisclaimerAlert {
font-size: 12px !important;
}

#tarteaucitronRoot div#tarteaucitronAlertBig {

width: 40% !important;
padding: 15px 5px !important;
}


#tarteaucitronRoot #tarteaucitronAlertBig div.tarteaucitronPartnersList b {
font-size: 13px !important;
}

#tarteaucitronRoot #tarteaucitronAlertBig div.tarteaucitronPartnersList ul li {
font-size: 12px !important;
}


#tarteaucitronRoot .tarteaucitronDeny {
font-size: 13px!important;
}

#tarteaucitronAlertBig #tarteaucitronCloseAlert {
font-size: 13px!important;
}



#tarteaucitronCloseCross {
font-size: 1rem !important;
}


#tarteaucitronRoot #tarteaucitronAlertBig div.tarteaucitronPartnersList {
background: #cccccc !important;
padding: 10px !important;
}



#tarteaucitronIcon #tarteaucitronManager img {
    width: 35px !important;
    height: 35px !important;
}


div#tarteaucitronAlertBig:before {
    content: '🍪' !important;
    font-size: 25px !important;
}




div#tarteaucitronRoot.tarteaucitronBeforeVisible:before {

    background: rgba(0, 0, 0, .5) !important;
}


#tarteaucitronAlertBig #tarteaucitronPersonalize2, .tarteaucitronCTAButton {
    background: #f99675 !important;
    color: #333 !important;
    font-size: 18px !important;
    padding: 5px 10px !important;
    border-radius: 35px !important;
    padding: 10px 10px !important;
    width: 90% !important;
}


